.all {
  margin: 2rem;
  border: 1px solid gray;
  border-radius: 25px;
  padding: 1rem;
  display: flex;
}
.comment {
  flex: 10;
}
.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 3px solid purple;
  border-radius: 15px;
  padding: 1rem;
}
