<form [formGroup]="myForm">
  <mat-form-field>
    <input matInput formControlName="input" />
  </mat-form-field>
  <p>================================================</p>
  <mat-form-field style="width: 90%; margin-right: 10px">
    <mat-label>جستوجو</mat-label>
    <input matInput #searchInput />
    <mat-icon matSuffix aria-disabled="true">&nbsp;search</mat-icon>
  </mat-form-field>
</form>
<p>================================================</p>
<p>================================================</p>

<header class="header">
  <div class="logo">
    <div class="logo-ultimate"></div>
    <p class="logo-name">Daneshjooyar Courses<span>&trade;</span></p>
  </div>
</header>
<div id="app">
  <h1>RxJS Basics in Angular</h1>
  <p>Start fetching random images</p>
  <p>
    Status: <span id="status">{{ status }}</span>
  </p>
  <button style="background: green" (click)="onStart()">Start</button>
  <button style="background: red" (click)="onStop()">Stop</button>
  <img
    *ngIf="imageUrl"
    [src]="imageUrl"
    alt="Random Image"
    style="max-width: 200px; max-height: 200px; margin-top: 20px"
  />
</div>
