<div style="height: 100%" dir="rtl">
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <span>داشبورد</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/post">پست</a>
      <a mat-button routerLink="/comments">کامنت ها</a>
      <a mat-button routerLink="/auth">ورود به حساب کاربری</a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav
      color="primary"
      #sidenav
      fxLayout="column"
      mode="over"
      opened="false"
      fxHide.gt-sm="true"
    >
      <div fxLayout="column">
        <a class="link-btn" mat-button routerLink="/auth"
          >ورود به حساب کاربری</a
        >
        <a class="link-btn" mat-button routerLink="/post">پست</a>
        <a class="link-btn" mat-button routerLink="/comments">کامنت ها</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <!-- <router-outlet></router-outlet> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
