@import url(./assets/customs/components.scss);
html,
body {
  height: 100%;
}
@font-face {
  font-family: "estedad";
  src: url("./assets/fonts/Estedad-Regular.ttf") format("truetype");
}
body {
  margin: 0;
}
